


  <mat-card class="menu-card">
    <mat-toolbar class="menu-toolbar">
      <mat-toolbar-row>
        <span >В избранное добавлено: {{ favorites }} элементов</span>
        <span class="example-spacer"></span>
        <div>
          <mat-form-field>
            <mat-select placeholder="Сортировка" [(value)]='selectedValue'>
              <mat-option *ngFor="let item of sortOptions" [value]="item.value"> {{item.viewValue}}</mat-option>
              
            </mat-select>
          </mat-form-field>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-card>

  <mat-grid-list cols="3" rowHeight="750px">
    <mat-grid-tile colspan="1" *ngFor="let item of sortedList(allFilms, selectedValue)">
      <app-film-item [item]="item" (onChanged)="onChanged($event)"></app-film-item>
    </mat-grid-tile>
  </mat-grid-list>

