.mat-card {
    box-shadow: none !important;
    padding: 10px;
    margin: 1% auto;
}

.menu-toolbar {
    background-color: white;
    font-size: 1vw;
}

.example-spacer {
    flex: 1 1 auto;
}

.mat-grid-list {
    width: 85%;
    margin: auto;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.mat-form-field {  
    line-height: 1;
    padding-bottom: 0;
   
}

.cdk-overlay-pane {
    top: 90px !important;
    left: 1150px !important;
}

.example-full-width {
    width: 60%;
}


form {
    margin-right: 5%;
}

.mat-form-field {
    width: 200px;
    margin-left: 5%;
}

.load {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2),
                0 2px 2px 0 rgba(0, 0, 0, .14),
                0 1px 5px 0 rgba(0, 0, 0, .12);
}

.mat-icon {
    width: 14px;
    height: 14px;
}

.material-icons {
    font-size: 15px;
    cursor: pointer;
}

.row {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

