  <mat-card>
    <mat-toolbar class="menu-toolbar">
      <mat-toolbar-row>
        <span >В избранное добавлено: {{ favorites }} элементов</span>
        <span class="example-spacer"></span>
        <form class="example-form">
        <mat-form-field class="example-full-width">

          
          <input matInput #query type="text" placeholder="search..." (keyup)="filter(query.value)" />    
 
          <button mat-button *ngIf="query.value" matSuffix mat-icon-button aria-label="Clear" (click)="query.value=''; filter()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>    
      </form>
        <div>
          <mat-form-field>
            <mat-select placeholder="Сортировка" [(value)]='selectedValue' (selectionChange)="doSort(selectedValue)">
              <mat-option *ngFor="let item of sortOptions" [value]="item.value"> {{item.viewValue}}</mat-option>           
            </mat-select>
          </mat-form-field>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-card>

<ng-template #noFilms>
  <div class="row">
    <p>По запросу "{{ query.value }}" ничего не найдено...</p>
  </div>
</ng-template>


<section *ngIf="Films.length; else noFilms">    
  <mat-grid-list cols="3" rowHeight="750px">
    <mat-grid-tile colspan="1" *ngFor="let item of Films">
      <app-film-item [item]="item" (updateCounter)="addFilmObj($event)"></app-film-item>
    </mat-grid-tile>
  </mat-grid-list>
  <mat-card>
    <button class='load' mat-button (click)="loadFilms(3)" [disabled]="!((filteredFilms.length - filmsOnPage)>0)">еще</button>
  </mat-card>
</section>


