.example-card {
    max-width: 400px;
}



.films-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 648px;
    padding: 16px;
}

.mat-card-image {
    align-self: center;
    height: 420px;
    width: 298px;
}

.mat-card-header {
    display: flex;
    justify-content: space-between;
}

.mat-card-actions {
    padding: 0;
}

.mat-card-header-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
}
