.example-card {
    max-width: 275px;;
}

.mat-card-title {
    text-align: left;
}

.block-ellipsis {
    text-align: left;
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 60px;
    margin: 0 auto;
    font-size: 12px;
    line-height: 1;  
    overflow: hidden;
    text-overflow: ellipsis;
}
