<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{item.name}} ({{item.year}})</mat-card-title>    
  </mat-card-header>
  <img mat-card-image src="{{item.imgUrl}}" alt="Photo of {{item.name}}">
  <mat-card-content>
   <p class="block-ellipsis"> {{ item.description }} </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="addToFavorites(item)">{{item.isFavorite ? 'Убрать из избранного' : 'Добавить в избранное'}}</button>
  </mat-card-actions>
</mat-card>


